# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
build/

# Vite cache (The source of your recent errors!)
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (Crucial for security)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
*.swp